<%= form_tag password_resets_path, :method => :post do %>
  <div class="row main-text">
    <div class="col-sm-5 form-group">
      <%= label_tag :email %>
    </div>
    <div class="col-sm-7 form-group">
      <%= text_field_tag :email, params[:email], {class:"form-control"} %>
    </div>
  </div>
  <div class="actions text-center"><%= submit_tag "Reset Password", {class: "btn btn-default form-button"} %></div>
<% end %>

<hr/>