<%= render 'shared/page_title', title: "Request Password Reset" %>
<div class="row">
  <div class="col text-center">
    <%= link_to "Already signed up? Click here to log in", login_path, class: "main-text main-text-link" %>
  </div>
  <div class="col-12 text-center">
    <%= link_to "No account? Register here to subscribe to the mailing list", register_path, class: "main-text main-text-link" %>
  </div>
</div>
<hr/>

<%= render 'form' %>