<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for signing up to the Order#227 Mailing List, <%= @user.username %></h1>
    <p>
      Your registration is not complete until you confirm at the link below: </p><br>
      <p>
        <%= confirm_email_user_url(@user.confirm_token) %>
      <br>
    </p>
    <p>
      Order#227: Not One Step Back!
    </p>
  </body>
</html>