<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Order#227 Family, <%= @user.username %>.</h1>
    <p>
      We will only use this mailing list to send out occasional emails keeping you up to date on Order#227 news, upcoming gigs and any special announcements.</p><br>
      <p>
        If you want to contact us, you can reply to this email or find us on facebook at: https://www.facebook.com/Order227Band/
      <br>
    </p>
    <p>
      Thanks, and see you at the gigs.<br>Order#227: Not One Step Back!
    </p>
    <small><p>You may unsubscribe at any time by following these instructions:</p>
    <p>Log in to your account, click 'Edit subscription' at the bottom right of the page.<br>
      Click 'Unsubscribe'.<br>
      This will delete all your data. If you wish to rejoin the mailing list, simply sign up again as a new subscriber.</p></small>
  </body>
</html>
