<%= render 'shared/page_title', title: "Subscribe to the Order#227 Mailing List" %>
<div class="row">
  <div class="col text-center">
    <%= link_to "Already signed up? Click here to log in", login_path, class: "main-text main-text-link" %>
  </div>
</div>
<hr/>

<%= render 'form' %>