<% if obj.errors.any? %>
  <div class="row justify-content-center">
    <div class="alert alert-danger col-8">
      <h5>Please correct the following errors:</h5>
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </div>
  </div>
<% end %>