<div class="container-fluid">

  <% will_paginate @pictures %>
    <% if @pictures.total_pages > 1 %>
      <hr/>
    <% end %>
    <div class="row">
      <% @pictures.each do |picture| %>
        <div class="col-4 col-md-3 col-lg-2">
          <%= link_to image_tag(picture.picture.middle.url, {class: "img-fluid img-thumbnail"}), "#", :data => { "data-toggle" => "modal", "data-target" => ".myModal"  } %>
        </div>
      <% end %>
    </div>
    
  
  <% will_paginate @pictures %>
</div>

<div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>