					<div class="row text-center">
						<div class="col mb-4">
							<a href="https://www.facebook.com/events/1821013374856792/" class="main-text main-text-header main-text-link" style="font-size: 2em;">NEXT ORDER#227 LIVE SHOW: 26 Jan 2018 - The Phoenix - High Wycombe, UK <img class="img-thumbnail" src="images/flyers/20180126_flyer.jpg" /></a>
						</div>
					</div>
					<div class="row text-center">
						<div class="col">
							<a class="twitter-timeline mx-auto" data-lang="en" data-width="640" data-height="960" data-theme="dark" data-link-color="#777777" href="https://twitter.com/order227band?ref_src=twsrc%5Etfw">Tweets by order227band</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
