
<%= render 'shared/page_title', title: "Privacy Policy" %>
<div class="row main-text">
  <div class="col-12">
    <p>This website and its content is copyright Order#227 2017-2018. All rights reserved.</p>
    <p class="main-text-header mt-4 mb-1">User data</p>
    <p class="text-justify">We will only use your e-mail address for the purpose of communicating band news and account administration. We will not sell or give your details to anyone.</p>
    <p class="text-justify">As a subscriber, you can unsubscribe from our e-mail list at any time by editing your settings (or <%= mail_to "order227band@gmail.com", "sending an email", class: "main-text main-text-link" %> from your subscribed account to us requesting deletion of your account). This will completely remove all information about you from our servers.</p>
    <p class="main-text-header mt-4 mb-1">Website Disclaimer</p>
    <p class="text-justify">The information on this website is for general information purposes only. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
    </p>
    <p class="text-justify">In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
    The inclusion of any links to other websites does not necessarily imply a recommendation or endorsement of the views expressed therein.
    We take no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
    </p>
    <p class="text-justify">
    Any redistribution or reproduction of part or all of the contents in any form is prohibited, except with explicit written permission. 

    In the event that any copyrighted material inadvertently appears on our website, the break of the copyright is unintentional and noncommercial and the material will be removed immediately upon proof.

    If you are the owner of copyrighted material appearing on order227.co.uk, please send proof and the material will be removed promptly. If, instead of its removal, you'd rather credit be given for the material, we will gladly give the appropriate credit desired.
    </p>
  </div>
</div>
