<div class="text-center highlight-background mb-4">
	<p><a class="main-text main-text-header main-text-link" href="http://www.songkick.com/artists/9002289" target="_blank"><strong>Upcoming ORDER#227 Live Shows</strong></a></p>
	<div class="row">
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/1821013374856792/" class="main-text main-text-header main-text-link">Order#227 - 26 Jan 2018 - The Phoenix - High Wycombe, UK <img class="img-thumbnail" src="images/flyers/20180126_flyer.jpg" /></a>
		</div>
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/165951033987506/" class="main-text main-text-header main-text-link">Skurvi - 10 Feb 2018 - Caf&#233; Reflections - Southampton, UK <img class="img-thumbnail" src="images/flyers/20180210_flyer.jpg" /></a>
		</div>
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/1950702034957827/" class="main-text main-text-header main-text-link">Thunder On The Left - 16 Feb 2018 - Wheatsheaf - Oxford, UK <img class="img-thumbnail" src="images/flyers/20180216_flyer.jpg" /></a>
		</div>
	</div>
</div>
<div class="text-center highlight-background mb-4">
	<p class="main-text main-text-header"><strong>Previous Shows</strong></p>
	<div class="row">
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/736711503203628/" class="main-text main-text-header main-text-link">Punk Rock Xmas Bash - 23 Dec 2017 - Wheatsheaf - Oxford, UK <img class="img-thumbnail" src="images/flyers/20171223_flyer.jpg" /></a>
		</div>
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/1601014929910959/" class="main-text main-text-header main-text-link">Big Untidy Dark Xmas Special - 8 Dec 2017 - Rising Sun - Reading, UK <img class="img-thumbnail" src="images/flyers/20171208_flyer.jpg" /></a>
		</div>
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/486877601655582/" class="main-text main-text-header main-text-link">Thunder On The Left - 21 Jul 2017 - Wheatsheaf - Oxford, UK <img class="img-thumbnail" src="images/flyers/20170721_flyer.jpg" /></a>
		</div>
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/412733832420602/" class="main-text main-text-header main-text-link">No More Heroes 3 - 24 Jun 2017 - The Phoenix - High Wycombe, UK <img class="img-thumbnail" src="images/flyers/20170624_flyer.jpg" /></a>
		</div>
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/1803540579911373/" class="main-text main-text-header main-text-link">Wittstock Festival - 20 May 2017 - OHRC, Marston - Oxford, UK <img class="img-thumbnail" src="images/flyers/20170520_flyer.jpg" /></a>
		</div>
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/1863444617259250/" class="main-text main-text-header main-text-link">Punk Play Time - 21 Apr 2017 - Irish Centre - Basingstoke, UK <img class="img-thumbnail" src="images/flyers/20170421_flyer.jpg" /></a>
		</div>
		<div class="col-xs-12 col-lg-6 mb-4">
			<a href="https://www.facebook.com/events/589308857919335/" class="main-text main-text-header main-text-link">Big Untidy - 14 Apr 2017 - Rising Sun - Reading, UK <img class="img-thumbnail" src="images/flyers/20170414_flyer.jpg" /></a>
		</div>							
	</div>
</div>