<div class="row justify-content-center">
  <p>ADD NEW CONTENT:</p>
	<div class="col-6 m-6"><%= link_to "NEW USER", register_path, class: "main-text main-text-header main-text-link" %></div>
	<div class="col-6 m-6"><%= link_to "NEW POST", news_path, class:"main-text main-text-header main-text-link" %></div>
</div>