<div class="text-center">
	<div class="highlight-background mb-4">
		<p class="main-text"><strong>Order#227 - Wife Beater</strong><br>21 July 2017, Wheatsheaf, Oxford, UK<br>Video credit: Alan D</p>
		<div class="embed-responsive embed-responsive-16by9">							
			<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/npjeR063cbE?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<div class="highlight-background mb-4">
		<p class="main-text"><strong>Order#227 - B.O.C and Technolojihad</strong><br>21 July 2017, Wheatsheaf, Oxford, UK<br>Video credit: Alan D</p>
		<div class="embed-responsive embed-responsive-16by9">		
			<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/lYinhIpXV6o?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<div class="highlight-background mb-4">
		<p class="main-text"><strong>Order#227 - Something In The Bag</strong><br>21 July 2017, Wheatsheaf, Oxford, UK<br>Video credit: Alan D</p>
		<div class="embed-responsive embed-responsive-16by9">	
			<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/sP8oeNANxmo?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>