@import "bootstrap";

hr {
  border-color: #888888;
}

.gravatar {
  border-radius: 10px;
  border-color: #888888;
}


.navbar-default {
	color: #888888;
	background-color: #1A1A1A;
	font-weight: bold;
 }
 
.navbar-menubutton {
	margin: 20px;
	font-weight: bold;
	color: #fff;
}

.nav-item {
	color: #888888;
	text-align: center;
	font-size: 1.4rem;
}

.nav-item.active, .nav-item:hover{
	color: #FFFFFF;
}

.highlight-background {
	background-color: #222222;
	margin: 5px;
	padding: 5px;
}
.main-background {
	background-color: #1A1A1A;
}
.main-text-link {
	font-weight: bold;
}
.main-text-link:hover{
	color: #fff;
	text-decoration: none;
}
.main-text {
	color: #888888;
	font-size: 1.2rem;
}

.music-container {
	width: 640px;
	padding: 15px;
	text-align: center;
	margin: auto;
	margin-bottom: 1rem;
}

.main-text-header {
	color: #888888;
	font-weight: bold;
	padding-bottom: 20px;
}

.footer-text {
	color: #888888;
	font-weight: normal;
}

.footer-text-link {
	color: #CCCCCC;
}

.footer-text-link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.img-menu {
  height: 40px;
}



.pinktest {
	background-color: #ff9999;
}
