		<div class="navbar navbar-expand-lg navbar-bottom navbar-default">	
			<span class="footer-text">
				&copy; 2018 Order#227. All Rights Reserved. Website by <a class="footer-text-link" href="mailto:contact@hootingbananastudios.com">Isaac Westwood</a>.
			</span>
		</div>	