<div class="col-lg-2 order-lg-1 col-10 offset-1 offset-lg-0 order-3 text-center mt-3">

    <p><a class="main-text main-text-link" href="http://www.songkick.com/artists/9002289" target="_blank">ORDER#227 SHOWS</a></p>
    
    <a href="http://www.songkick.com/artists/9002289" class="songkick-widget main-text main-text-link" data-theme="dark" data-other-artists="on" data-detect-style="true" data-font-color="#ffffff" data-background-color="transparent">LIVE DATES</a>
    
    <script src="//widget.songkick.com/widget.js"></script>

</div>