<div class="col-lg-2 col-10 offset-1 offset-lg-0 order-1 order-lg-3 text-center mt-3">
	<div class="row flex-row flex-lg-column d-flex  main-background justify-content-around">
		<div class="m-4 mt-lg-0"><a href="https://www.facebook.com/Order227Band/" target="_blank"><img class="img" height="40px" src="images/FB-f-Logo__white_100.png" alt="Facebook" /></a></div>
		<div class="m-4"><a href="https://twitter.com/order227band" target="_blank"><img class="img" height="40px" src="images/tw_link_g.png" alt="Twitter" /></a></div>
		<div class="m-4"><a href="https://www.youtube.com/channel/UCO35S3PlOE1zmyndPTfsROw/" target="_blank"><img class="img" height="40px" src="images/yt_icon_mono_dark.png" alt="YouTube" /></a></div>
		<div class="m-4"><a href="https://order227.bandcamp.com" target="_blank"><img class="img" height="40px" src="images/bandcamp/bandcamp-button-circle-line-white-64.png" alt="Bandcamp" /></a></div>
	</div>
</div>